#xxx{
  background: green;
  display:block;
}

body{
  margin:0px;
}

.actions{
  position:fixed;
  bottom:0px;
  left:0px;
}

.actions > #brush{
  display:none;
}

.actions.x > #brush{
  display:inline-block;
}

.actions.x > #eraser{
  display:none;
}