ul,ol{
  list-style: none;
}
*{
  margin: 0px;
  padding: 0px;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


#xxx{
  background: white;
  display:block;

}

body{
  /* margin:0px; */
  overflow: hidden;
}

.actions{
  position:fixed;
  top:0px;
  left:0px;
  padding: 20px;
}

.actions svg {
  width:1.5em;
  height: 1.5em;
  transition: all 0.3s;  /*过渡变化*/
  margin: 0 10px;
}

/* .actions > #brush{
  display:none;
}

.actions.x > #brush{
  display:inline-block;
}

.actions.x > #eraser{
  display:none;
} */

.actions svg.active{
  fill: red;
  transform: scale(1.2); /*放大到以前的1.2倍*/
  
}

.colors {
  position: fixed;
  top:60px;
  left:28px;
  /* border: 1px red solid; */
}

.colors> li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border:1px solid grey; */
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  margin: 10px 0px;
  transition: all 0.3s;
}

.colors> li.black{
  background: black;
}

.colors> li.red{
  background: red;
}

.colors> li.green{
  background: green;
}

.colors> li.blue{
  background: blue;
}

.colors> li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
  /* border:3px solid grey; */
  transform: scale(1.1);
  
}

.sizes {
  position: fixed;
  right: 20px;
  top:10px;
}

.sizes> li{
  margin: 20px 0px;
}

.sizes> li.thin{
  height:0px;
  width:20px;
  border-top: 3px solid black;
}

.sizes> li.thick{
  height:0px;
  width:20px;
  border-top: 6px solid black;
}

